label{
    font-size: 1em;
    font-weight: bold;
    color: #000;
    margin: 0 0 0.5em 0;
    display: block;
}
input, textarea{
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1em 0;
}